.container.withscroll{
    padding: 100px 0 40px;
    overflow: hidden;
    flex-direction: column;
    justify-content: flex-start;
}

.scrollview{
    flex: 1;
    overflow: auto;
    padding-right: 20px;
    margin-top: 76px;
}

.scrollview::-webkit-scrollbar {
    width: 2px;
  }

.scrollview::-webkit-scrollbar-track {
    background: rgba(255,255,255,.15);
    border-radius: 4px;
}

.scrollview::-webkit-scrollbar-thumb {
    background: rgba(255,255,255,.25);
    border-radius: 4px;
}

.scrollview::-webkit-scrollbar-thumb:hover {
    background: rgba(255,255,255,.3);
}

.scrollview::-webkit-scrollbar-thumb:active {
    background: rgba(255,255,255,.25);
}

.pictures{
    flex: 1;
    display: grid;
    gap: 40px;
    grid-template-columns: auto auto auto;
    justify-content: center;
}


.pictures .picbox {
    width: 400px;
    height: 400px;
}

.pictures .picture {
    object-fit: cover;
    width: 100%;
    height: 100%;
    background-color: gray;
}

.ppt {
    position: fixed;
    inset: 0;
    background-color: #171616;
    pointer-events: none;
    opacity: 0;
    z-index: 99;
    transition: opacity .5s ease-out;
}

.ppt.show{
    opacity: 1;
    pointer-events: all;
}