

.menu-dialog{
    position: fixed;
    inset: 0;
    z-index: 9;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    opacity: 0;
    pointer-events: none;
    transition: opacity .4s ease-out;
}
.menu-dialog.show{
    opacity: 1;
    pointer-events: auto;
}
.menu-dialog .dialog-body{
    position: relative;
    max-width: 80vw;
    border-radius: 4px;
    background-color: #212020;
    text-align: center;
    padding: 36px 60px 32px;
    display: flex;
    flex-direction: column;
}
.menu-dialog .dialog-close{
    position: absolute;
    left: -40px;
    top: -40px;
    padding: 4px 0;
    width: 24px;
    opacity: .7;
    transition: opacity .3s ease-out;
}
.menu-dialog .dialog-close:hover{
    opacity: 1;
    cursor: pointer;
}

.menu-dialog .menu-title{
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 40px;
}

.menu-dialog .menu-items{
    align-self: stretch;
    max-height: 380px;
    overflow: auto;
    margin: 0 -60px;
    padding: 0 60px;
}

.menu-dialog .menu-items::-webkit-scrollbar{
    width: 3px;
}

.menu-dialog .menu-items::-webkit-scrollbar-track{
    background: rgba(255,255,255,.1);
    border-radius: 4px;
}
.menu-dialog .menu-items::-webkit-scrollbar-thumb{
    background: rgba(255,255,255,.2);
    border-radius: 4px;
}

.menu-dialog .menu-items,
.menu-dialog .menu-tips{
    display: flex;
    flex-direction: column;
    font-size: 14px;
    line-height: 24px;
    gap: 16px;
    opacity: .8;
    margin-bottom: 40px;
}

.menu-dialog .menu-tips{
    margin-bottom: 0;
    opacity: .6;
    gap: 4px;
    letter-spacing: 1px;
}