/* Section 1 */
.home .section1 .scroll-down{
    position: absolute;
    bottom: 40px;
    width: 40px;
    animation: flicker 1.5s ease-in-out infinite alternate;
}

/* Section 2 */
.home .section2 .content,
.home .section4 .content,
.home .section5 .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    opacity: 0;
    transform: translateY(50px);
    transition: transform .7s ease-out 1.4s, opacity .7s ease-out 1.4s;
}

.home .section2 .content.animate,
.home .section4 .content.animate,
.home .section5 .content.animate {
    opacity: 1;
    transform: translateY(0);
}

.home .section2 .content .title,
.home .section4 .content .title,
.home .section5 .content .title {
    font-size: 24px;
    line-height: 35px;
    margin-bottom: 20px;
    font-weight: 300;
}

.home .section2 .content .desc,
.home .section4 .content .desc,
.home .section5 .content .desc {
    font-size: 14px;
    line-height: 24px;
}

.home .section2 .content .button,
.home .section4 .content .button2,
.home .section5 .content .button2 {
    margin-top: 22px;
}

/* Section 3 */
.home .section.section3 {
    padding-top: 100px;
    color: #333;
    background-color: #fff;
}

.home .section3 .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 78%;
}

.home .section3 .paragraph {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    opacity: 0;
    transform: translateY(50px);
    transition: transform .7s ease-out 1.4s, opacity .7s ease-out 1.4s;
}

.home .section3 .paragraph.animate {
    opacity: 1;
    transform: translateY(0);
}

.home .section3 .content .banner{
    min-width: 1120px;
    max-width: 1600px;
    width: 100%;
    margin-bottom: 40px;
}

.home .section3 .content .title{
    font-size: 22px;
    margin-bottom: 22px;
}

.home .section3 .content .desc{
    font-size: 14px;
    line-height: 24px;
}

.home .section3 .content .button2{
    margin-top: 22px;
}

/* Section 4 */
/* .section4 .h4-slideitem{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section4 .h4-slideitem > img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1);
}

.section4 .h4-slideitem img.active {
    animation: zoomtofit 6.5s ease-out;
}

.section4 .h4-pagination{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-bottom: 36px;
}

.section4 .h4-content{
    position: absolute;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section4 .h4-content .title{
    font-size: 24px;
    margin-bottom: 32px;
}

.section4 .h4-content .desc{
    font-size: 14px;
    line-height: 24px;
}

.section4 .h4-content .btn-group{
    margin-top: 32px;
} */

.home .section.section6{
    justify-content: flex-start;
}
.home .section.section6{
    background-color: #212020;
}
.home .section6 .content{
    position: relative;
    z-index: 1;
    margin-left: 160px;
    font-size: 14px;
    line-height: 28px;

    opacity: 0;
    transform: translateX(-100px);
    transition: transform .6s ease-out 1.2s, opacity .6s ease-out 1.2s;
}

.home .section6 .content.animate{
    opacity: 1;
    transform: translateX(0);
}

.home .section6 .content .group{
    margin-top: 28px;
}

.home .section6 .content .lgg{
    margin-top: 120px;
}

.home .section6 .content a{
    margin-left: 12px;
    opacity: .7;
    text-decoration: underline;
    transition: opacity .3s ease-in-out;
}

.home .section6 .content a:hover{
    opacity: 1;
    cursor: pointer;
}


.home .section6 .map{
    position: absolute;
    right: 0;
    height: 100%;
    opacity: 0;
    transition: opacity 1s ease-out 1.2s;
}

.home .section6 .map.animate{
    opacity: 1;
}


.loading-page{
    position: fixed;
    z-index: 999;
    display: flex;
    align-items: start;
    justify-content: start;
    inset: 0;
}

.loading-page.hide{
    opacity: 0;
    pointer-events: none;
    transition: opacity 1s ease-in;
}

.loading-page.remove{
    display: none;
}

.loading-page .logo{
    position: relative;
    left: 55px;
    top: 35px;
    width: 174px;
    z-index: 2;
}


@keyframes flicker {
    0% { opacity: .2; }
    100% { opacity: 1; }
}

@keyframes zoomtofit {
    0% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}