.mobile-pic{
    padding: 128px 20px 20px;
}

.mobile-pic .pics{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.mobile-pic .pics img{
    width: 100%;
}
.mobile-pic .pics .pic-box{
    display: flex;
    align-items: center;
    justify-content: center;
}

.mobile-pic .pics .play{
    position: absolute;
    width: 32px;
    height: 32px;
    opacity: .8;
    pointer-events: none;
}

.org-dialog{
    position: fixed;
    z-index: 10;
    inset: 0;
    backdrop-filter: blur(15px);
    background-color: rgba(0, 0, 0, .8);
    opacity: 0;
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity .5s ease-out;
}

.org-dialog.show{
    opacity: 1;
    pointer-events: all;
}

.org-dialog .close{
    position: fixed;
    right: 24px;
    top: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px;
    transition: opacity .3s ease-out;
    z-index: 3;
}

.org-dialog .close img{
    width: 24px;
}

.org-dialog .swiper-wrapper .swiper-slide{
    display: flex;
    align-items: center;
    justify-content: center;
}
.org-dialog .swiper-wrapper .swiper-slide img{
    width: 100%;
}