/* Section 1 */
.mobile-env .section1 .content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 20px;
}

.mobile-env .section1 .content .title{
    font-size: 22px;
    margin-bottom: 20px;
}
.mobile-env .section1 .content .desc{
    font-size: 14px;
    line-height: 24px;
    white-space: pre-wrap;
}

/* Section 2, Section 4 */
.mobile-env.mobile-container .section4,
.mobile-env.mobile-container .section2 {
    justify-content: flex-start;
    align-items: stretch;
}
.mobile-env .section4 .content,
.mobile-env .section2 .content {
    flex: 1;
    padding: 60px 24px 0;
}
.mobile-env .section4 .content .title,
.mobile-env .section2 .content .title {
    font-size: 20px;
    border-bottom: .5px solid rgba(255, 255, 255, .7);
    padding-bottom: 20px;
    margin-bottom: 40px;
}

.mobile-env .section4 .content .desc,
.mobile-env .section2 .content .desc {
    font-size: 14px;
    min-height: 24px;
    line-height: 24px;
    white-space: pre-wrap;
}

/* Section 3 */
.mobile-env.mobile-container .section3{
    align-items: stretch;
    justify-content: flex-start;
    flex-direction: column;
    padding: 60px 20px 40px;
}

.mobile-env .section3 .content{
    padding: 0 4px;
    margin-bottom: 40px;
}
.mobile-env .section3 .content .title {
    font-size: 20px;
    border-bottom: .5px solid rgba(255, 255, 255, .7);
    padding-bottom: 20px;
    margin-bottom: 40px;
}

.mobile-env .section3 .content .desc {
    font-size: 14px;
    min-height: 24px;
    line-height: 24px;
}

/* Section 5 */
.mobile-env.mobile-container .section5{
    display: block;
    background-color: white;
    color: black;
}

.mobile-env .section5 .content{
    padding: 60px 20px 40px;
}


.mobile-env .section5 .content .title{
    font-size: 20px;
    text-align: center;
    margin-bottom: 40px;
}

.mobile-env .section5 .content .groups{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.mobile-env .section5 .content .img-group{
    text-align: center;
}
.mobile-env .section5 .content .img-group .img{
    width: 100%;
    margin-bottom: 16px;
}
.mobile-env .section5 .content .img-group .caption{
    font-size: 16px;
    margin-bottom: 8px;
}
.mobile-env .section5 .content .img-group .desc{
    font-size: 14px;
    line-height: 24px;
    opacity: .7;
}
