/* common css */
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container .section {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.container .swiper-wrapper .swiper-slide:last-child {
    height: 400px;
}


.mobile-container {
    background-color: #212020;
}

.mobile-container .section{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mobile-container .loading-page video {
    height: 100%;
}

.mobile-container .section>*:not(.mobile-bgimg):not(.mobile-fade-slide) {
    position: relative;
    z-index: 2;
}