.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container .section {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.container .swiper-wrapper .swiper-slide:last-child {
    height: 400px;
}